{% extends 'login_system/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">

        <div class="col-12">
         {{ form.username |as_crispy_field}}
        </div>
        <div class="col-12">
         {{ form.password1 |as_crispy_field}}
        </div>
        <div class="col-12">
         {{ form.password2 |as_crispy_field}}
        </div>

    </div>

    <button type="submit">Submit</button>
</form>
{% endblock %}
