
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post">{% csrf_token %}
                <p>Czy chcesz usunąć kategorię: "{{ object }}"?</p>
                <button type="submit" class="btn btn-primary"> Usuń </button>
                <button onclick="window.history.back();" class="btn btn-secondary" type="button">Anuluj</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}