{% extends 'base.html' %}
{% load mathfilters %}


{% block content %}
<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Book shop</h1>
        {% include "shop/_category_list.html" %}
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="{{product.name}}">
          <div class="card-body">
            <h3 class="card-title">{{product.name}}</h3>
            <h4>PLN {{product.price }}</h4>
            <p class="card-text">{{product.description}}</p>
            <!--  rating stars-->
                {% include "shop/_rate_stars.html" %}
            <!--  end rating stars-->
          </div>
        </div>
        <!-- /.card -->

        <!-- dodawanie opinii-->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Opinie
          </div>
          <div class="card-body">
            {% if product.comment_set.count == 0 %}
              <p> Ten produkt nie ma jeszcze opinii</p>
              <hr>
            {% else %}
              {% for comment in product.comment_set.all %}
                <p> {{comment.content}}</p>
                <small class="text-muted">Wysłane przez: {{comment.author}} - {{comment.created_at}}</small>
                <hr>
              {% endfor %}
            {% endif %}

            {% if user.is_authenticated %}
              <a href="{% url 'shop:product_add_comment' product_slug=product.slug %}" class="btn btn-outline-primary">Dodaj opinię</a>
            {% else %}
              <!-- next paremeter directs after logging to product detail view but with possibility adding comment-->
              <a class="btn btn-outline-primary" href="{% url 'login_system:login' %}?next={% url 'shop:product_detail' product_slug=product.slug %}">Zaloguj się, aby skomentować </a>
            {% endif %}

          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>


{% endblock %}